.app__home{ 
   flex: 1;
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 100vh;
   max-width: 1000px;
   @media (min-width: 1200px) {
      flex-direction: row;
   }
}

.app__home-socials {
   margin-top: 3.5rem;
   display: flex;
   flex-direction: column;
   a {
      padding: 1rem;

      svg {
         font-size: 24px;
         color: var(--gray-color);
         transition: var(--transition);
         &:hover {
            transform: translateY(-4px) scale(1.08);
            color: var(--blue-color);
         }
      }
   }
}

section.app__home {
   @media (min-width: 1200px) {
      flex: 1;
      margin: 0;
      max-width: 90vw;
      justify-content: space-evenly;
   }
}

.app__home-imgs {
   flex-direction: row;
   position: relative;
   display: flex;
   width: 90%;
   align-self: center;
   margin-top: 3rem;

   @media (min-width: 786px) {
      width: 70%;
      margin-top: 1rem;
   }

   .app__home-img {
      z-index: 1;
      width: 50%;
      object-fit: contain;
   }

   .app__home-circle {
      z-index: 0;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
   }
}

.app__home-circles {
   margin-top: 1.5rem;
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 2rem;

   @media (min-width: 1200px) {
      flex-direction: column;
   }

   div {
      border-radius: 50%;
      background-color: var(--dark-primary-color);
      display: flex;
      padding: 1.5rem;

      img {
         width: 100%;
         height: 100%;
      }

      &:nth-child(3) {
         width: 70px;
         height: 70px;
         margin: 1.6rem;

      }

      &:nth-child(1) {
         width: 100px;
         height: 100px;
         margin: 1.6rem;
      }

      &:nth-child(2) {
         width: 150px;
         height: 150px;
         padding: 2rem;
         margin: 2.8rem;
      }

      @media (min-width: 2000px) {
         &:nth-child(3) {
            width: 84px;
            height: 84px;
   
         }
   
         &:nth-child(1) {
            width: 120px;
            height: 120px;
         }
   
         &:nth-child(2) {
            width: 180px;
            height: 180px;
            padding: 2rem;
            margin: 3.5rem;
         }
      }
   }
}

.app__home-content {
   width: 60%;
   max-width: 40rem;
   justify-content: left;
   flex-direction: column;
   height: auto;

   h2 {
      font-size: 16px;
      margin: 0 0 2.4rem 0.4rem;
   }

   p {
      margin-top: 2rem;
      font-size: 20px;
   }

   @media (min-width: 2000px) {
      h2 {
         font-size: 20px;
      }
      p {
         font-size: 24px;
      }
   }
}

