.app {
   background-color: var(--primary-color);
   overflow-x: hidden;
}

a { 
   text-decoration: none;
}

.app__flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

ul {
   list-style: none;
}

body {
   min-height: 100vh;
   overflow-x: hidden;
   background-color: var(--primary-color);
}

main {
   min-height: 100vh;
   margin: 0 auto;
   width: 100%;
   max-width: 1600px;
   padding: 0 2.5rem;
   flex-direction: column;
}

.p-text {
   color: var(--gray-color);
}

section {
   padding: 4rem 0;
   margin: 0 auto;

   @media screen and (min-width: 480px) {
      padding: 8rem 0;
   }
   
   @media screen and (min-width: 768px) {
      padding: 10rem 0;
      max-width: 100rem;
   }
}

.hide-overflow {
   overflow: hidden;
}

.head-text {
   font-size: 4.4rem;
   color: var(--white-color);
   font-weight: 700;
   @media (max-width: 480px) {
      font-size: 3.6rem;
      font-weight: 600;
   }
}
