@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
   --font-base: 'Quicksand', sans-serif;
   --primary-color: #252D3C;
   --white-color: #F6f6f6;
   --black-color: #1E242F;
   --dark-blue: hsl(249, 15%, 17%);
   --light-dark-purple: hsl(251, 13%, 24%);
   --dark-gray: #3D4657;
   --gray-color: #8C9EB1;
   --blue-color: #6A69F5;
   --dark-white-color: #E1E1E1;
   --dark-purple: #210E5F;
   --dark-primary-color: #191F29;
   --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}
* {
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}
*, *:before, *:after {
   box-sizing: inherit;
}

body {
   font-family: var(--font-base);
   font-size: 1.6rem;
}

body::-webkit-scrollbar {
   width: 12px;
}
body::-webkit-scrollbar-thumb {
   background-color: hsl(219, 32%, 39%);
   border: 3px solid var(--primary-color);
   border-radius: 10px;
}